*,html { margin:0; padding:0; }
 
body {
  color: #555;
  background-color: #d5d5d5;
  font: 1em Georgia, serif;
}
 
a { text-decoration: none; color: #356aa0; }
 
a:hover { text-decoration: underline; }
 
#page {
  width: 517px;
  margin: 25px auto;
}
 
#page h3 {
  float: right;
  font-size: 1em;
}
 
#page h4 {
  font-size: 0.90em;
}
 
#page p { padding-top: 5px; }
 
#main {
  overflow: hidden;
  padding: 7px;
  background-color: #e5e5e5;
  border: 1px solid #f5f5f5;
}
 
